body {
    background: #202020;
    margin-top:  10px;
    color: ivory;
}

.pixelBoard {
    /*border: 2px solid #aa6;
    border-collapse: collapse;*/
    margin: 15px auto;
}

.pixelCell {
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    cursor: pointer;
    padding: 0;
}

.pixelCell:hover {
    -webkit-filter: brightness(120%);
}

.pixelBoardCell {
    width: 21px;
    height: 21px;
    border-collapse: collapse;
    cursor: pointer;
    padding: 0;
    /*border: 1px solid #555;*/
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    /*display: inline-block;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;*/
}

.pixelLamp {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.pixelBoardCell:hover .pixelLamp {
    width: 19px;
    height: 19px;
    /*-webkit-filter: brightness(120%) contrast(120%) opacity(80%);*/
}

.drawerContainer {
    width: 1000px;
    margin: 0 auto;
}

.drawerHeader {
    text-align: center;
}

.actionButtons {
    margin-bottom: 10px;
    text-align: center;
}

.actionButtons button{
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.colorPickPanel {
    text-align: center;
    width: 670px;
    margin: 0 auto;
}

.colorPick {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.colorPick.active {
    border-color: #c20;
}