body {
    background: ivory;
    margin-top:  10px;
}

.pixelBoard {
    border: 2px solid #aa6;
    border-collapse: collapse;
    margin: 15px auto;
}

.pixelCell {
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    cursor: pointer;
    padding: 0;
}

.pixelCell:hover {
    -webkit-filter: brightness(120%);
}

.pixelBoardCell {
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    cursor: pointer;
    padding: 0;
    border: 1px solid #555;
    box-sizing: border-box;
    /*display: inline-block;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;*/
}

.pixelBoardCell:hover {
    -webkit-filter: brightness(120%) contrast(120%) opacity(80%);
    /*-webkit-box-shadow: #f00 inset 0 0 2px;*/
    border: 2px inset red;
}

.drawerContainer {
    width: 1000px;
    margin: 0 auto;
}

.actionButtons {
    margin-bottom: 10px;
    text-align: center;
}

.actionButtons button{
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.colorPickPanel {
    text-align: center;
}

.colorPick {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.colorPick.active {
    border-color: #c20;
}